bcrypt==3.1.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
eventlet==0.23.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
flask-cors==3.0.6
Flask-Login==0.4.1
Flask-SocketIO==3.0.1
Flask-SQLAlchemy==2.3.2
greenlet==0.4.13
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycparser==2.18
python-engineio==2.2.0
python-magic==0.4.15
python-socketio==2.0.0
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.8
urllib3==1.23
Werkzeug==0.14.1
