/*
 * This file is part of pOrtals:reconLIVE:AV which is released
 * under version 3 of the GNU General Public License (GPLv3).
 * See the LICENSE file in the project root for more information.
 */

html {
    margin: 0px;
    padding: 0px;
}

body {
    color: #333333;
    font-family: monospace;
    font-size: 9pt;
    margin: 0px;
    padding: 0px;
}

a {
    color: #777777;
}
a:visited {
    color: #777777;
}

h3 {
    margin: 0px;
    padding: 0px;
}

table {
    border: 1px solid;
    border-collapse:collapse;
    width: 100%;
}

td, th {
    border: 1px solid;
}

textarea {
    font-family: inherit;
    line-height: 1.5em;
    font-size: 9pt;
}

input {
    font-family: inherit;
    font-size: 9pt;
}

.connected {
    color: green;
}

.disconnected {
    color: red;
}

.master-container {
    padding: 5px;
}

.guide-main-layout {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
}

.guide-chat-container {
    overflow: hidden;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 2.5px;
    padding: 5px;
    border: 1px solid black;
    width: 50%;
}

.guide-controls-container {
    overflow: hidden;
    margin-top: 0px;
    margin-left: 2.5px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 0px;
    border: 1px solid black;
    width: 50%;
}

.guide-controls-container h3 {
    padding: 5px;
}

.guide-controls-content iframe {
    width: calc(100% - 10px);
    padding: 5px;
    margin: 0px;
    height: 100%;
    border: none;
}

.location-info-editor {
    padding: 0px;
    margin: 0px;
    height: 100px;
    width: calc(100% - 2px);
    scroll: auto;
    text-transform: uppercase;
}

.guide-controls-content {
    height: 500px;
    width: 100%;
    padding: 0px;
}

.scout-chat-container {
    width: 100%;
}

#chat-input {
    margin: 0px;
    padding: 0px;
    width: calc(100% - 100px);
    height: 50px;
    border: none;
}

#chat-input:focus {
    outline:none !important;
    outline-width: 0;
}

#chat-messages {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: calc(100% - 50px);
    resize: none;
    border: none;
}

