[Unit]
Description=pOrtals::reconLIVE:AV
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/workspace/app
ExecStart=/usr/bin/env python3 app.py
EnvironmentFile=/etc/portals/environment

[Install]
WantedBy=multi-user.target
