[Unit]
Description=pOrtals::reconLIVE:AV web server
After=network-online.target
StartLimitIntervalSec=0

[Service]
User=portals
Group=portals
Type=simple
WorkingDirectory=/workspace/app
ExecStart=/usr/bin/env gunicorn wsgi --reload --bind 0.0.0.0:80 --workers 10 --log-level DEBUG
Restart=on-failure
RestartSec=1s
EnvironmentFile=/etc/portals/environment

[Install]
WantedBy=multi-user.target
