<!--
This file is part of pOrtals:reconLIVE:AV which is released
under version 3 of the GNU General Public License (GPLv3).
See the LICENSE file in the project root for more information.
-->

<!DOCTYPE html>
<html>
<head>
    <title>pOrtals::reconLIVE:AV::guideControls</title>

    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <b>Current Location:</b> <em>{{ active_session.current_location.name }}</em>
    <br />
    <small><b>Previous Location:</b> <em>{{ active_session.previous_location.name }}</em></small>
    <br /><br /><hr />
    <br /> <b>Description</b>
    <p><i><span id="path-description">{{ description }}</span></i></p>
    <br />
    <a class="send-to-chat-link" href="#">Send to chat</a>
    <br /><br />
    <hr />
    <br /> <b>Paths</b>
    <ul>
        {% for loc in adjacent_locations %}
        <li>
            <a class="navigation-link" href="#"
               data-start-id="{{ active_session.current_location.id }}"
               data-destination-id="{{ loc.id }}"
               data-destination-name="{{ loc.name }}"
               >
                {{ loc.name }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <hr /><br />
    <b>Location Info</b>
    </br /></br />
    <textarea class="location-info-editor" readonly></textarea>

    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="guide_controls.js"></script>
</body>
</html>
