<!--
This file is part of pOrtals:reconLIVE:AV which is released
under version 3 of the GNU General Public License (GPLv3).
See the LICENSE file in the project root for more information.
-->

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div class="master-container">
            <h1>pOrtals::reconLIVE:AV</h1>
            {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
            {% endif %}
            <form action="" method="post">
                <label>Username </label><input id="username" type="text" name="username">
                <br />
                <label>Password </label><input type="password" name="password">
                <br /><br />
                <input type="submit" value="Login">
            </form>

            <script>
                (function () {
                    document.getElementById('username').focus();
                })();
            </script>
        </div>
    </body>
</html>
