<!--
This file is part of pOrtals:reconLIVE:AV which is released
under version 3 of the GNU General Public License (GPLv3).
See the LICENSE file in the project root for more information.
-->

<!DOCTYPE html>
<html>
    <head>
        <title>pOrtals::reconLIVE:AV</title>

        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div class="master-container">
            <h1>pOrtals::reconLIVE:AV</h1>

            <p>Status: <span id="connection-status"></span>.
                Session: <em>{{ active_session.code if active_session.code else 'N/A' }}</em>.
                Click <a href="/logout">here</a> to log out.</p>

            <div class="scout-chat-container">
                {% include 'chat_view.html' %}
            </div>

            <script src="lib/jquery-3.3.1.min.js"></script>
            <script src="lib/socket.io.js"></script>

            <script src="portals.js"></script>
        </div>
    </body>
</html>
